In [1]:
import requests

In [2]:
url = "https://www.starbucks.co.kr/store/getStore.do?"

In [3]:
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36"}

In [4]:
payload = {"in_biz_cds" : "0",
        "in_scodes" : "0",
        "ins_lat" : "37.5001823",
        "ins_lng" : "127.0078127",
        "search_text" : "",
        "p_sido_cd" : "01",
        "p_gugun_cd" : "",
        "in_distance" : "0",
        "in_biz_cd" : "",
        "isError" : "true",
        "searchType" : "C",
        "set_date" : "",
        "all_store" : "0",
        "T03" : "0",
        "T01" : "0",
        "T27" : "0",
        "T12" : "0",
        "T09" : "0",
        "T30" : "0",
        "T05" : "0",
        "T22" : "0",
        "T21" : "0",
        "T10" : "0",
        "T36" : "0",
        "T43" : "0",
        "T48" : "0",
        "P10" : "0",
        "P50" : "0",
        "P20" : "0",
        "P60" : "0",
        "P30" : "0",
        "P70" : "0",
        "P40" : "0",
        "P80" : "0",
        "whcroad_yn" : "0",
        "P90" : "0",
        "new_bool" : "0",
        "iend" : "1000",
        "rndCod" : "KSBBBU69W9"}

In [5]:
r = requests.post(url, headers=head, data=payload)

In [6]:
r.json()['list'].__len__()

566

In [7]:
import pandas as pd

In [8]:
seoul_star = pd.DataFrame(r.json()['list'])

In [9]:
for x in seoul_star.iloc[0, :]:
    print (x, end=", ")

0, None, None, None, None, None, None, None, None, None, None, None, 0, None, , , None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1509, 역삼아레나빌딩, 1522-3232, 02-568-3763, 01, 서울, 0101, 강남구, 서울특별시 강남구 역삼동 721-13 아레나빌딩, None, None, T05@T08@T16@T17@T20@T21@T30@T36@T52@P80@P90, 0, , , , 0, 3.11, -1, -1, -1, 30, , 0, 3762, N, , 0, None, None, /upload/store/2020/09/[3762]_20200917031519_6juwr.JPG, None, None, None, None, None, 0, None, None, 0, None, None, None, None, None, None, , 1, 60, 20190613, 0, , , , , , 서울특별시 강남구 언주로 425 (역삼동), , N, WHCROAD, , , , 0, None, A01, None, None, 37.501087, 127.043069, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,

In [10]:
seoul_star.columns

Index(['seq', 'sido_cd', 'sido_nm', 'gugun_cd', 'gugun_nm', 'code_order',
       'view_yn', 'store_num', 'sido', 'gugun',
       ...
       't22', 't21', 'p90', 't05', 't30', 't36', 't27', 't29', 't43', 't48'],
      dtype='object', length=129)

In [11]:
seoul_star.isnull().sum()

seq           0
sido_cd     566
sido_nm     566
gugun_cd    566
gugun_nm    566
           ...
t36           0
t27           0
t29           0
t43           0
t48           0
Length: 129, dtype: int64

In [12]:
seoul_star.dropna(axis=1, inplace=True)

In [13]:
seoul_star.head(1)

,seq,p_pro_seq,p_sido_cd,p_gugun_cd,s_code,s_name,tel,fax,sido_code,sido_name,...,t22,t21,p90,t05,t30,t36,t27,t29,t43,t48
0,0,0,,,1509,역삼아레나빌딩,1522-3232,02-568-3763,01,서울,...,0,0,0,0,0,0,0,0,0,0

In [14]:
import numpy as np
seoul_star.replace(0, np.NAN, inplace=True)
seoul_star.replace("", np.NAN, inplace=True)
seoul_star.dropna(axis=1, inplace=True)

In [15]:
seoul_star.head(1)

,s_code,s_name,tel,fax,sido_code,sido_name,gugun_code,gugun_name,addr,theme_state,...,new_icon,defaultimage,istart,iend,open_dt,doro_address,my_siren_order_store_yn,store_area_code,lat,lot
0,1509,역삼아레나빌딩,1522-3232,02-568-3763,01,서울,0101,강남구,서울특별시 강남구 역삼동 721-13 아레나빌딩,T05@T08@T16@T17@T20@T21@T30@T36@T52@P80@P90,...,N,/upload/store/2020/09/[3762]_20200917031519_6j...,1,60,20190613,서울특별시 강남구 언주로 425 (역삼동),N,A01,37.501087,127.043069

* where 조건 사용 참고사항

In [16]:
a = seoul_star.where(seoul_star != "", None)

In [17]:
a.dropna(axis=1, inplace=True)

In [18]:
# s_name, gugun_name, addr, defaultimage, doro_address, open_dt, lat, lon                                                             
seoul_star.iloc[0,:]

s_code                                                                  1509
s_name                                                               역삼아레나빌딩
tel                                                                1522-3232
fax                                                              02-568-3763
sido_code                                                                 01
sido_name                                                                 서울
gugun_code                                                              0101
gugun_name                                                               강남구
addr                                              서울특별시 강남구 역삼동 721-13 아레나빌딩
theme_state                      T05@T08@T16@T17@T20@T21@T30@T36@T52@P80@P90
out_distance                                                            3.11
all_search_cnt                                                            -1
addr_search_cnt                                                           -1
store_search_cnt                                                          -1
rowCount                                                                  30
s_biz_code                                                              3762
new_icon                                                                   N
defaultimage               /upload/store/2020/09/[3762]_20200917031519_6j...
istart                                                                     1
iend                                                                      60
open_dt                                                             20190613
doro_address                                         서울특별시 강남구 언주로 425 (역삼동)
my_siren_order_store_yn                                                    N
store_area_code                                                          A01
lat                                                                37.501087
lot                                                               127.043069
Name: 0, dtype: object

In [19]:
target_col = ["s_name","gugun_name","addr","defaultimage","doro_address","open_dt","lat","lot",]

In [20]:
seoul_star =seoul_star[target_col]

In [22]:
# 가장 오래된 스타벅스, 가장 최근에 오픈한 스타벅스, 스타벅스 오픈 월별 추이 
seoul_star

,s_name,gugun_name,addr,defaultimage,doro_address,open_dt,lat,lot
0,역삼아레나빌딩,강남구,서울특별시 강남구 역삼동 721-13 아레나빌딩,/upload/store/2020/09/[3762]_20200917031519_6j...,서울특별시 강남구 언주로 425 (역삼동),20190613,37.501087,127.043069
1,논현역사거리,강남구,서울특별시 강남구 논현동 142-2 정일빌딩,/upload/store/2018/12/[3672]_20181211120009_t9...,서울특별시 강남구 강남대로 538 (논현동),20181123,37.510178,127.022223
2,신사역성일빌딩,강남구,서울특별시 강남구 논현동 18-4 성일빌딩,/upload/store/2019/12/[3858]_20191218124337_c8...,서울특별시 강남구 강남대로 584 (논현동),20191219,37.514132,127.020563
3,국기원사거리,강남구,서울특별시 강남구 역삼동 648-22 동찬빌딩,/upload/store/2019/07/[3669]_20190730073527_5n...,서울특별시 강남구 테헤란로 125 (역삼동),20190731,37.499517,127.031495
4,스탈릿대치R,강남구,서울특별시 강남구 대치동 599 대원빌딩,/upload/store/2019/02/[3703]_20190215093408_m3...,서울특별시 강남구 남부순환로 2947 (대치동),20190214,37.494668,127.062583
...,...,...,...,...,...,...,...,...
561,사가정역,중랑구,서울특별시 중랑구 면목동 617-2,/upload/store/2015/07/[3023]_20150730100354230...,서울특별시 중랑구 면목로 310,20141002,37.579594,127.087966
562,상봉역,중랑구,"서울특별시 중랑구 상봉동 100-2,3,4번지",/upload/store/2019/10/[9686]_20191001110003_28...,서울특별시 중랑구 망우로 307 (상봉동),20120323,37.59689,127.08647
563,묵동이마트,중랑구,서울특별시 중랑구 묵동 170-1 묵동자이아파트 (묵동이마트 B1층),/upload/store/2019/01/[9570]_20190110064916_t8...,"서울특별시 중랑구 동일로 932 (묵동, 묵동자이아파트) (묵동이마트 B1층)",20110121,37.613433,127.077484
564,묵동,중랑구,서울특별시 중랑구 묵동 169-12 1층,/upload/store/2020/06/[3936]_20200628090702_8k...,서울특별시 중랑구 동일로 952,20200630,37.615368,127.076633
565,중화역,중랑구,"서울특별시 중랑구 중화동 306-68 중화동 HS빌딩 1,2층",/upload/store/2020/12/[3801]_20201220034358_66...,"서울특별시 중랑구 봉화산로 35 1,2층",20201222,37.60170912407773,127.07841136432036

In [24]:
print(seoul_star.sort_values('open_dt').iloc[0])

s_name                                                        이대R
gugun_name                                                   서대문구
addr                                          서울특별시 서대문구 대현동 54-4
defaultimage    /upload/store/2019/07/[9100]_20190724082658_ax...
doro_address                            서울특별시 서대문구 이화여대길 34 (대현동)
open_dt                                                  19990727
lat                                                   37.55848315
lot                                                   126.9459643
Name: 222, dtype: object

In [25]:
print(seoul_star.sort_values('open_dt').iloc[-1])

s_name                                                     수서역사거리
gugun_name                                                    강남구
addr                                   서울특별시 강남구 수서동 724 로즈데일오피스텔
defaultimage    /upload/store/2021/09/[4153]_20210929104219_e5...
doro_address                              서울특별시 강남구 광평로 280 (수서동)
open_dt                                                  20210929
lat                                              37.4873267937748
lot                                              127.103140081887
Name: 78, dtype: object

In [26]:
payload['T01'] = 1

In [27]:
r2 = requests.post(url, headers=head, data=payload)

In [30]:
pd.DataFrame(r2.json()['list']).__len__()

17