# ğŸ§¡pandas íŠ¹ì§•
* ê²°ì¸¡ ë°ì´í„°(NaNìœ¼ë¡œ í‘œì‹œë¨)ë¥¼ ì‰¬ê²Œ ì²˜ë¦¬
* DataFrameë° ê³ ì°¨ì› ê°ì²´ì—ì„œ ì—´ì„ ì‚½ì… ë° ì‚­ì œ ê°€ëŠ¥
* ë¼ë²¨ì„ ë¬´ì‹œí•˜ê³  Series, DataFrameë“±ì˜ ê³„ì‚°ì—ì„œ ìë™ìœ¼ë¡œ ë°ì´í„° ì¡°ì • ê°€ëŠ¥
* ë°ì´í„° ì„¸íŠ¸ì—ì„œ ì§‘ê³„ ë° ë³€í™˜ì„ ìœ„í•œ ë¶„í• (split), ì ìš©(apply), ê²°í•©(combine) ì‘ì—…ì„ ìˆ˜í–‰í•  ìˆ˜ ìˆëŠ” group-byí•©ìˆ˜ ì œê³µ
* ì„œë¡œ ë‹¤ë¥¸ Python, Numpyë°ì´í„° êµ¬ì¡°ì—ì„œ ì„œë¡œ ë‹¤ë¥¸ ì¸ë±ì‹± ë°ì´í„°ë¥¼ DataFrameê°œì²´ë¡œ ì‰½ê²Œ ë³€í™˜
* ë°ì´í„° ì„¸íŠ¸ì˜ ìœ ì—°í•œ ì¬êµ¬ì„± ë° í”¼ë²—
* ì¶•ì˜ ê³„ì¸µì  ë¼ë²¨ë§
* csv, ExcelíŒŒì¼ ê¸°íƒ€ ë“±ë“±ì—ì„œ ì‚¬ìš©
* ë‚ ì§œ ë²”ìœ„ ìƒì„±, ë¬´ë¹™ ìœˆë„ìš° í†µê³„, ë‚ ì§œ ì´ë™ ë° ì§€ì—° ê¸°ëŠ¥

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.2.4'

# ğŸ–¤Pandas ê°ì²´

## Series ê°ì²´

In [2]:
s = pd.Series([0,0.25,0.5,0.75,1.0]) # ë¦¬ìŠ¤íŠ¸ë¥¼ ê¸°ë°˜ìœ¼ë¡œ Seriesë°ì´í„°ë¡œ ë³€í™˜
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [3]:
s.values # ê°’ë§Œ

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [4]:
s.index # ì¸ë±ìŠ¤ë§Œ

RangeIndex(start=0, stop=5, step=1)

In [5]:
s[1] # ê°œë³„ ì—˜ë¦¬ë¨¼íŠ¸ ì ‘ê·¼ ê°€ëŠ¥

0.25

In [6]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [7]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [8]:
s['c']

0.5

In [9]:
s[['c','d','e']] # íŠ¹ì • ì¸ë±ìŠ¤ë§Œ ê°€ì ¸ì˜¤ê¸°

c    0.50
d    0.75
e    1.00
dtype: float64

In [10]:
'b' in s

True

In [11]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=['2','4','6','8','10'])
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [13]:
s[4]

1.0

In [14]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [16]:
s.unique() #ìœ ë‹ˆí¬í•œ ê°’ë§Œ

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [18]:
s.value_counts() #  ê°ìš”ì†Œë“¤ì˜ ì¹´ìš´íŠ¸ë¥¼ ì…€ ìˆ˜ ìˆìŒ

0.00    1
1.00    1
0.50    1
0.75    1
0.25    1
dtype: int64

In [20]:
s.isin([0.25,0.75]) # ìš”ì†Œê°€ ì–´ë””ì— ìˆëŠ”ì§€ booleaní˜•íƒœë¡œ ë°˜í™˜

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [21]:
# dictionary
pop_tuple={'ì„œìš¸íŠ¹ë³„ì‹œ':9720863,
          'ë¶€ì‚°ê´‘ì—­ì‹œ':3403323,
          'ì¸ì²œê´‘ì—­ì‹œ':2947123,
          'ëŒ€êµ¬ê´‘ì—­ì‹œ':3419439,
          'ê´‘ì£¼ê´‘ì—­ì‹œ':1049232}
population = pd.Series(pop_tuple)
population

ì„œìš¸íŠ¹ë³„ì‹œ    9720863
ë¶€ì‚°ê´‘ì—­ì‹œ    3403323
ì¸ì²œê´‘ì—­ì‹œ    2947123
ëŒ€êµ¬ê´‘ì—­ì‹œ    3419439
ê´‘ì£¼ê´‘ì—­ì‹œ    1049232
dtype: int64

In [22]:
population['ì„œìš¸íŠ¹ë³„ì‹œ']

9720863

In [23]:
population['ì„œìš¸íŠ¹ë³„ì‹œ':'ì¸ì²œê´‘ì—­ì‹œ'] # ìŠ¬ë¼ì´ì‹±ëœê²ƒ

ì„œìš¸íŠ¹ë³„ì‹œ    9720863
ë¶€ì‚°ê´‘ì—­ì‹œ    3403323
ì¸ì²œê´‘ì—­ì‹œ    2947123
dtype: int64

## DataFrame ê°ì²´ 
### seriesëŠ” ë‹¨ì¼í•œ í˜•íƒœì˜ ê°ì²´ /dataframeì€ ì—¬ëŸ¬ì»¬ëŸ¼ì´ ë“¤ì–´ê°„ 2ì°¨ì›ì˜ íŠ¹ì„±ì´ë‹¤.

In [25]:
pd.DataFrame([{'A':2,'B':4,'D':3},
             {'A':92,'B':43,'C':21}])

    A   B    D     C
0   2   4  3.0   NaN
1  92  43  NaN  21.0

In [26]:
pd.DataFrame(np.random.rand(5,5), 
            columns=['A','B','C','D','E'],
            index=[1,2,3,4,5])

          A         B         C         D         E
1  0.476766  0.247405  0.991547  0.146693  0.154483
2  0.462019  0.852373  0.511177  0.081608  0.717536
3  0.424555  0.692302  0.397600  0.705737  0.089403
4  0.147157  0.663804  0.157129  0.166842  0.283656
5  0.940970  0.023498  0.114509  0.053179  0.549656

In [27]:
male_tuple={'ì„œìš¸íŠ¹ë³„ì‹œ':720863,
          'ë¶€ì‚°ê´‘ì—­ì‹œ':403323,
          'ì¸ì²œê´‘ì—­ì‹œ':947123,
          'ëŒ€êµ¬ê´‘ì—­ì‹œ':419439,
          'ê´‘ì£¼ê´‘ì—­ì‹œ':49232}
male = pd.Series(male_tuple)
male

ì„œìš¸íŠ¹ë³„ì‹œ    720863
ë¶€ì‚°ê´‘ì—­ì‹œ    403323
ì¸ì²œê´‘ì—­ì‹œ    947123
ëŒ€êµ¬ê´‘ì—­ì‹œ    419439
ê´‘ì£¼ê´‘ì—­ì‹œ     49232
dtype: int64

In [28]:
female_tuple={'ì„œìš¸íŠ¹ë³„ì‹œ':20863,
          'ë¶€ì‚°ê´‘ì—­ì‹œ':3323,
          'ì¸ì²œê´‘ì—­ì‹œ':47123,
          'ëŒ€êµ¬ê´‘ì—­ì‹œ':19439,
          'ê´‘ì£¼ê´‘ì—­ì‹œ':9232}
female = pd.Series(female_tuple)
female

ì„œìš¸íŠ¹ë³„ì‹œ    20863
ë¶€ì‚°ê´‘ì—­ì‹œ     3323
ì¸ì²œê´‘ì—­ì‹œ    47123
ëŒ€êµ¬ê´‘ì—­ì‹œ    19439
ê´‘ì£¼ê´‘ì—­ì‹œ     9232
dtype: int64

            0
ì„œìš¸íŠ¹ë³„ì‹œ  741726
ë¶€ì‚°ê´‘ì—­ì‹œ  406646
ì¸ì²œê´‘ì—­ì‹œ  994246
ëŒ€êµ¬ê´‘ì—­ì‹œ  438878
ê´‘ì£¼ê´‘ì—­ì‹œ   58464

## Index ê°ì²´